/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }
}