process {
    executor = 'k8s'
}

k8s {
    namespace = 'test'
    storageClaimName = 'nfsclaim'
    storageMountPath = '/workspace'
    // TODO: isolate with subPath? can't with data in /workspace/data
    // storageSubPath = '/nxf_run/' + params.subpath
    pod = [[volumeClaim: "example-dataset", mountPath: "/data"]]
}

docker {
   enabled = true
}

singularity {
   enabled = false
}

podman {
   enabled = false
}

shifter {
   enabled = false
}

charliecloud {
   enabled = false
}


