docker.enabled         = true
docker.userEmulation   = true
singularity.enabled    = false
podman.enabled         = false
shifter.enabled        = false
charliecloud.enabled   = false

process {
    withName: 'MATCH_VARIANTS' {
        containerOptions = '--platform linux/arm64'
        ext.args = "--min_overlap " + params.min_overlap        
    }
    withName: 'SCORE_REPORT' {
        containerOptions = '--platform linux/arm64'
    }
}