/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: MATCH_VARIANTS {
        ext.args = "--min_overlap " + params.min_overlap
    }
}

process {
    withName: PLINK2_VCF {
        ext.args = "--make-pgen --set-all-var-ids '@:#:\$r:\$a' --new-id-max-allele-len 100 missing --exclude <(echo .)"
    }
    
    withName: PLINK2_RELABEL {
        ext.args = "--new-id-max-allele-len 100 missing --exclude <(echo .)"
    }
}