/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for sequential score calculation

        - This is the default to prevent laptops from exploding (bad UX)
        - Scoring genomes in parallel is I/O intensive and eats RAM
        - Set the parameter --parallel to disable this behaviour
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: PLINK2_SCORE {
        ext.args2 = ""
        maxForks = 1
    }
}   
