/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pgscalc -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    input  = "$projectDir/assets/examples/samplesheet.csv"
    format = "csv"
    scorefile = "$projectDir/assets/examples/scorefiles/PGS001229*.txt" 

    outdir = "$projectDir/results"
    target_build = "GRCh37"
}

process {
    resourceLimits = [
        cpus: params.max_cpus as int,
        memory: params.max_memory as nextflow.util.MemoryUnit,
        time: params.max_time as nextflow.util.Duration
    ]

    cpus   = { 1 }
    memory = { params.max_memory as nextflow.util.MemoryUnit }
    time   = { params.max_time as nextflow.util.Duration }

    withLabel:process_single {
        cpus   = { 1 }
        memory = { 4.GB }
        time   = { 2.h }
    }
    withLabel:process_low {
        cpus   = { params.max_cpus as int }
        memory = { params.max_memory as nextflow.util.MemoryUnit }
        time   = { params.max_time as nextflow.util.Duration }
    }
    withLabel:process_medium {
        cpus   = { params.max_cpus as int }
        memory = { params.max_memory as nextflow.util.MemoryUnit }
        time   = { params.max_time as nextflow.util.Duration }
    }
    withLabel:process_high {
        cpus   = { params.max_cpus as int }
        memory = { params.max_memory as nextflow.util.MemoryUnit }
        time   = { params.max_time as nextflow.util.Duration }
    }
    withLabel:process_long {
        time   = { params.max_time as nextflow.util.Duration }
    }
    withLabel:process_high_memory {
        memory = { params.max_memory as nextflow.util.MemoryUnit }
    }
}
