/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal BCF tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    using BCF input format.

    Use as follows:
        nextflow run nf-core/pgscalc -profile test_bcf,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test BCF profile'
    config_profile_description = 'Minimal test dataset using BCF input to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    input  = "$projectDir/assets/examples/samplesheet_bcf.csv"
    format = "csv"
    scorefile = "$projectDir/assets/examples/scorefiles/PGS001229*.txt"

    outdir = "$projectDir/results"
    target_build = "GRCh37"
}
