params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with JSON input'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    input  = "https://gitlab.ebi.ac.uk/nebfield/test-datasets/-/raw/master/pgsc_calc/input.json"
    format = "json"
    scorefile = "https://gitlab.ebi.ac.uk/nebfield/test-datasets/-/raw/master/pgsc_calc/PGS001229_22.txt" 
    outdir = "$projectDir/results"
    target_build = "GRCh37"
    skip_ancestry = true
}
