params {
    outdir = "output/"
    publish_dir_mode = "copy"
    enable_conda = false
    singularity_pull_docker_container = false
    min_overlap = 0.75
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else if ("$PROFILE" == "m1") {
    docker.enabled         = true
    docker.userEmulation   = true

    process {
        withName: 'MATCH_VARIANTS' {
            containerOptions = '--platform linux/arm64'
            ext.args = "--min_overlap " + params.min_overlap
        }
        withName: 'SCORE_REPORT' {
            containerOptions = '--platform linux/arm64'
        }
    }
} else {
    docker.enabled = true
    docker.userEmulation = true
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
// includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=21.10.3'
}
