.quarto-title-block .quarto-title-banner {
  background-image: url(PGS_Logo.png), url(pgs_header_background.png);
  background-size: 90px, 170px;
  background-position: left, right;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}