name: Run ancestry test with singularity or docker profiles with VCF input

on:
  workflow_call:
    inputs:
      container-cache-key:
        type: string
        required: true
      ancestry-cache-key:
        type: string
        required: true
      docker:
        type: boolean
      singularity:
        type: boolean

env:
  NXF_SINGULARITY_CACHEDIR: ${{ github.workspace }}/singularity
  SINGULARITY_VERSION: 3.8.3
  
jobs:
  docker:
    if: ${{ inputs.docker }}
    runs-on: ubuntu-latest

    steps:
      - name: Set environment variables
        run: |
          echo "ANCESTRY_REF_DIR=$RUNNER_TEMP" >> $GITHUB_ENV
          echo "ANCESTRY_TARGET_DIR=$RUNNER_TEMP" >> $GITHUB_ENV
      
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - uses: nf-core/setup-nextflow@v1

      - name: Restore docker images
        id: restore-docker
        uses: actions/cache/restore@v3
        with:
          path: ${{ runner.temp }}/docker
          key: ${{ inputs.container-cache-key }}
          fail-on-cache-miss: true

      - name: Load docker images from cache
        run: |
          find $HOME -name '*.tar'
          find ${{ runner.temp }}/docker/ -name '*.tar' -exec sh -c 'docker load < {}' \;

      - name: Restore reference data
        uses: actions/cache/restore@v3
        with:
          path: |
            ${{ env.ANCESTRY_TARGET_DIR }}/GRCh38_HAPNEST_TARGET_ALL.pgen
            ${{ env.ANCESTRY_TARGET_DIR }}/GRCh38_HAPNEST_TARGET_ALL.psam
            ${{ env.ANCESTRY_TARGET_DIR }}/GRCh38_HAPNEST_TARGET_ALL.pvar.zst
            ${{ env.ANCESTRY_REF_DIR }}/GRCh38_HAPNEST_reference.tar.zst
          key: ${{ inputs.ancestry-cache-key }}
          fail-on-cache-miss: true

      - name: Install plink2 to recode
        run: sudo apt-get install -y plink2

      - name: Recode VCF
        run: plink2 --pfile ${ANCESTRY_TARGET_DIR}/GRCh38_HAPNEST_TARGET_ALL vzs --export vcf bgz --out ${ANCESTRY_TARGET_DIR}/GRCh38_HAPNEST_TARGET_ALL

      - name: Set up test requirements
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: 'pip'
          
      - run: pip install -r ${{ github.workspace }}/tests/requirements.txt

      - name: Run ancestry test
        run: TMPDIR=~ PROFILE=docker pytest --kwdof --symlink --git-aware --wt 2 --tag "ancestry vcf" --ignore tests/bin

      - name: Upload logs on failure
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: logs-singularity-ancestry
          path: |
            /home/runner/pytest_workflow_*/*/.nextflow.log
            /home/runner/pytest_workflow_*/*/log.out
            /home/runner/pytest_workflow_*/*/log.err
            /home/runner/pytest_workflow_*/*/output/*
            
  singularity:
    if: ${{ inputs.singularity }}
    runs-on: ubuntu-latest

    steps:
      - name: Set environment variables
        run: |
          echo "ANCESTRY_REF_DIR=$RUNNER_TEMP" >> $GITHUB_ENV
          echo "ANCESTRY_TARGET_DIR=$RUNNER_TEMP" >> $GITHUB_ENV
      
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - uses: nf-core/setup-nextflow@v1

      - name: Restore singularity setup
        id: restore-singularity-setup
        uses: actions/cache@v3
        with:
          path: /opt/hostedtoolcache/singularity/${{ env.SINGULARITY_VERSION }}/x64
          key: ${{ runner.os }}-singularity-${{ env.SINGULARITY_VERSION }}
          fail-on-cache-miss: true

      - name: Add singularity to path
        run: |
          echo "/opt/hostedtoolcache/singularity/${{ env.SINGULARITY_VERSION }}/x64/bin" >> $GITHUB_PATH

      - name: Restore singularity container images
        id: restore-singularity
        uses: actions/cache@v3
        with:
          path: ${{ env.NXF_SINGULARITY_CACHEDIR }}
          key: ${{ inputs.container-cache-key }}

      - name: Restore reference data
        uses: actions/cache/restore@v3
        with:
          path: |
            ${{ env.ANCESTRY_TARGET_DIR }}/GRCh38_HAPNEST_TARGET_ALL.pgen
            ${{ env.ANCESTRY_TARGET_DIR }}/GRCh38_HAPNEST_TARGET_ALL.psam
            ${{ env.ANCESTRY_TARGET_DIR }}/GRCh38_HAPNEST_TARGET_ALL.pvar.zst
            ${{ env.ANCESTRY_REF_DIR }}/GRCh38_HAPNEST_reference.tar.zst
          key: ${{ inputs.ancestry-cache-key }}
          fail-on-cache-miss: true
          
      - name: Set up test requirements
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: 'pip'
          
      - run: pip install -r ${{ github.workspace }}/tests/requirements.txt

      - name: Run ancestry test
        run: TMPDIR=~ PROFILE=singularity pytest --kwdof --symlink --git-aware --wt 2 --tag "ancestry" --ignore tests/bin

      - name: Upload logs on failure
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: logs-singularity-ancestry
          path: |
            /home/runner/pytest_workflow_*/*/.nextflow.log
            /home/runner/pytest_workflow_*/*/log.out
            /home/runner/pytest_workflow_*/*/log.err
            /home/runner/pytest_workflow_*/*/output/*
