name: CI
on:
  push:
    branches:
      - dev
      - main
      - ci
  pull_request:
    branches:
      - dev
      - main
  release:
    types: [published]

jobs:
  preload_ancestry:
    uses: ./.github/workflows/preload-reference.yml

  preload_docker:
    uses: ./.github/workflows/preload-docker.yml

  preload_singularity:
    uses: ./.github/workflows/preload-singularity.yml

  standard_test_docker:
    needs: preload_docker
    uses: ./.github/workflows/standard-test.yml
    with:
      cache-key: ${{ needs.preload_docker.outputs.cache-key }}
      docker: true

  standard_test_singularity:
    needs: preload_singularity
    uses: ./.github/workflows/standard-test.yml
    with:
      cache-key: ${{ needs.preload_singularity.outputs.cache-key }}
      singularity: true

  pytest_workflow_docker:
    needs: preload_docker
    uses: ./.github/workflows/module.yml
    strategy:
      matrix:
        tags:
          - "test input check subworkflow"
          - "test input check subworkflow with PGS catalog API"
          - "test input check subworkflow with PGS catalog API and whitespace"
          - "test make compatible subworkflow with bfile"
          - "test make compatible subworkflow with vcf"
          - "test make compatible subworkflow with pfile"
          - "test input check subworkflow with liftover 38to37"
          - "test input check subworkflow with liftover 37to38"
          - "test apply score subworkflow"
          - "test perfect apply score"
          - "test combine scorefiles module"
          - "test match module"
          - "test match combine module"
          - "plink2 testrelabelpvar"
          - "plink2 testscore"
          - "plink2 testsmallscore"
          - "plink2 testmultiscore"
          - "plink2 testsmallmultiscore"
          - "plink2 testmultiscorefail"
          - "plink2 vcf"
          - "plink2 testrelabelbim"
          - "pgscatalog test --pgs_id"
          - "pgscatalog test --efo_trait --pgp_id and --pgs_id"
          - "pgscatalog test bad accession"
          - "pgscatalog test good and bad accessions GRCh38"
    with:
      cache-key: ${{ needs.preload_docker.outputs.cache-key }}
      docker: true
      tag: ${{ matrix.tags }}

  pytest_workflow_singularity:
    needs: preload_singularity
    uses: ./.github/workflows/module.yml
    strategy:
      matrix:
        tags:
          - "test input check subworkflow"
          - "test input check subworkflow with PGS catalog API"
          - "test input check subworkflow with PGS catalog API and whitespace"
          - "test make compatible subworkflow with bfile"
          - "test make compatible subworkflow with vcf"
          - "test make compatible subworkflow with pfile"
          - "test input check subworkflow with liftover 38to37"
          - "test input check subworkflow with liftover 37to38"
          - "test apply score subworkflow"
          - "test perfect apply score"
          - "test combine scorefiles module"
          - "test match module"
          - "test match combine module"
          - "plink2 testrelabelpvar"
          - "plink2 testscore"
          - "plink2 testsmallscore"
          - "plink2 testmultiscore"
          - "plink2 testsmallmultiscore"
          - "plink2 testmultiscorefail"
          - "plink2 vcf"
          - "plink2 testrelabelbim"
          - "pgscatalog test --pgs_id"
          - "pgscatalog test --efo_trait --pgp_id and --pgs_id"
          - "pgscatalog test bad accession"
          - "pgscatalog test good and bad accessions GRCh38"
    with:
      cache-key: ${{ needs.preload_singularity.outputs.cache-key }}
      singularity: true
      tag: ${{ matrix.tags }}

  ancestry_docker:
    needs: [preload_ancestry, preload_docker]
    uses: ./.github/workflows/ancestry.yml
    with:
      container-cache-key: ${{ needs.preload_docker.outputs.cache-key }}
      ancestry-cache-key: ${{ needs.preload_ancestry.outputs.cache-key }}
      docker: true

  ancestry_singularity:
    needs: [preload_ancestry, preload_singularity]
    uses: ./.github/workflows/ancestry.yml
    with:
      container-cache-key: ${{ needs.preload_singularity.outputs.cache-key }}
      ancestry-cache-key: ${{ needs.preload_ancestry.outputs.cache-key }}
      singularity: true

  ancestry_vcf_docker:
    needs: [preload_ancestry, preload_docker]
    uses: ./.github/workflows/ancestry-vcf.yml
    with:
      container-cache-key: ${{ needs.preload_docker.outputs.cache-key }}
      ancestry-cache-key: ${{ needs.preload_ancestry.outputs.cache-key }}
      docker: true

  ancestry_vcf_singularity:
    needs: [preload_ancestry, preload_singularity]
    uses: ./.github/workflows/ancestry.yml
    with:
      container-cache-key: ${{ needs.preload_singularity.outputs.cache-key }}
      ancestry-cache-key: ${{ needs.preload_ancestry.outputs.cache-key }}
      singularity: true
