name: Run nf-test

on:
  push:
    paths:
      - "nextflow.config"
      - "conf/**"
      - "modules/**"
      - "subworkflows/**"
      - "workflows/**"
      - "main.nf"
      - "tests/**"
  pull_request:
    paths:
      - "nextflow.config"
      - "conf/**"
      - "modules/**"
      - "subworkflows/**"
      - "workflows/**"
      - "main.nf"
      - "tests/**"

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        profile: [docker]

    name: nf-test (${{ matrix.profile }})

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Setup Nextflow latest-edge
        uses: nf-core/setup-nextflow@v1
        with:
          version: "latest-edge"

      - name: Install nf-test
        run: |
          wget -qO- https://get.nf-test.com | bash
          sudo mv nf-test /usr/local/bin/

      - name: Run nf-test (${{ matrix.profile }})
        run: nf-test test --ci --profile ${{ matrix.profile }}